block variables
  - let title = "Главная страница"


doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="css/main.min.css")
    title #{title}
  body
    include ../includes/modules/header
    block content
    include ../includes/modules/footer
    block scripts
      script(src="js/main.min.js")
      //- Добавлять скрипты через append, prepend
